body {
    font-family: Helvetica;
    margin: 0px;
}

body .header {
    background: #2C2950;
    padding: 20px 60px 0px;
    position: relative;
}

body .header img {
    height: 50px;
}

body .header .userName {
    position: absolute;
    top: 18px;
    right: 60px;
}

body .header .userName img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

body .header .userName p {
    font-family: Helvetica;
    font-size: 14px;
    color: #FFFFFF;
    display: inline-block;
    margin: 10px 0 10px 10px;
    vertical-align: top;
}

body .header .ethValue {
    margin: 0px 18px 15px;
    display: inline-block;
    vertical-align: top;
}

body .header .ethValue p {
    font-family: Helvetica-Light;
    font-size: 18px;
    color: #AFF8C6;
    margin: 13px;
}

body .header .ethValue span {
    font-family: Helvetica-Light;
    font-size: 20px;
    color: #AFF8C6;
    border-bottom: 2px solid #AFF8C6;
}

body .header .tablinks {
    background: none;
    border: none;
    margin-right: 80px;
    padding-bottom: 5px;
}

body .header .tablinks:focus {
    outline: transparent;
}

body .header .tablinks.active {
    border-bottom: 4px solid #AFF8C6;
}

body .header .tablinks a {
    font-family: Helvetica;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all linear 0.15s;
}

body .header .tablinks.right {
    float: right;
    margin: 0;
}

body .tabcontent .tab {
    display: none;
}

body .tabcontent .tab.active {
    display: block;
    position: relative;
}

body .tabcontent .token-holder {
    background-color: #F3F3F3;
    padding: 20px 0px;
    text-align: center;
    margin-bottom: 20px;
}

body .tabcontent .token-holder h5 {
    font-family: Helvetica-Bold;
    font-size: 20px;
    color: #D1D1D1;
    margin: 0;
    display: inline-flex;
}

body .tabcontent .token-holder .input_field {
    background-color: transparent;
    border: none;
    width: 126px;
    border-bottom: 2px solid #979797;
}

body .tabcontent .token-holder .input_field:focus {
    outline: none;
}

body .trading-holder {
    text-align: center;
    margin-bottom: 40px;
}

body .trading-holder .price {
    width: 12.66%;
    display: inline-block;
    text-align: left;
    border: 1px solid #E2E2E2;
    border-radius: 1px;
    box-sizing: border-box;
    margin: 0px 15px;
    min-width: 135px;
    padding: 6px;
}

body .trading-holder .price span {
    font-family: Helvetica-Light;
    font-size: 10px;
    color: #302E2E;
}

body .trading-holder .price p {
    font-family: Helvetica-Light;
    font-size: 20px;
    color: #27C359;
    margin: 0;
}

body .trading-holder .day-holder {
    display: inline-block;
    vertical-align: top;
    margin: 0px 15px;
    width: 12.66%;
}

body .trading-holder .day-holder .price {
    margin: 0;
    width: 100%;
}

body .trading-holder .day-holder .price p {
    text-align: left;
    font-size: 20px;
    font-family: Helvetica-Light;
    margin: 0;
}

body .trading-holder .day-holder p {
    margin: 6px 0 0 0;
    text-align: right;
    font-size: 10px;
    font-family: Helvetica-Bold;
}

body .trading-holder .day-holder p span {
    font-size: 10px;
    font-family: Helvetica-Bold;
    color: #27C359;
}

body .trading-holder .xrp-btn {
    background-image: linear-gradient(-180deg, #9EEDC7 0%, #72BDAB 100%);
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    vertical-align: top;
    height: 55px;
    text-decoration: none;
    outline: none;
}

body .trading-holder .xrp-btn p {
    font-family: Helvetica-Bold;
    font-size: 20px;
    color: #FFFFFF;
}

body .order-tables {
    text-align: center;
    padding: 0 40px 40px;
}

body .order-tables .table-holder {
    width: 22%;
    margin: 0px 12px 276px;
    border-collapse: collapse;
    display: inline-block;
    vertical-align: top;
}

body .order-tables .table-holder table {
    width: 100%;
}

body .order-tables .table-holder table .order-main-header th {
    font-family: Helvetica-Bold;
    font-size: 14px;
    color: #302E2E;
    padding: 10px 0px 10px 10px;
    border: none;
}

body .order-tables .table-holder table .order-sub-heading th {
    color: #BBBBBB !important;
    height: 30px;
    font-family: Helvetica-Light;
    font-size: 12px;
    padding-bottom: 0px;
}

body .order-tables .table-holder table th,
body .order-tables .table-holder table td {
    padding: 14px 0px 14px 10px;
    text-align: left;
    border-bottom: 1px solid #E2E2E2;
    width: 33%;
    color: #302E2E;
    font-size: 12px;
}

body .order-tables .table-holder table th:nth-child(2),
body .order-tables .table-holder table td:nth-child(2) {
    color: #27C359;
}

body .order-tables .table-holder .tabs {
    text-align: left;
}

body .order-tables .table-holder .tabs .tablinks {
    background: none;
    border: none;
    margin-right: 5px;
}

body .order-tables .table-holder .tabs .tablinks:focus {
    outline: transparent;
}

body .order-tables .table-holder .tabs .tablinks.active {
    border-bottom: 4px solid #000;
}

body .order-tables .table-holder .tabs .tablinks.active a {
    color: #302E2E;
}

body .order-tables .table-holder .tabs .tablinks a {
    font-family: Helvetica-Bold;
    font-size: 14px;
    color: #BBBBBB;
    text-decoration: none;
    transition: all linear 0.15s;
}

body .order-tables .table-holder .tabcontent {
    text-align: left;
    margin-top: 10px;
}

body .order-tables .table-holder .tabcontent #buy {
    border: 1px solid #E2E2E2;
    padding-bottom: 40px;
}

body .order-tables .table-holder .tabcontent .tab .nameVal {
    padding: 0px 15px;
    border-bottom: 1px solid #E2E2E2;
}

body .order-tables .table-holder .tabcontent .tab .nameVal p {
    font-family: Helvetica-Bold;
    font-size: 20px;
    display: inline-block;
}

body .order-tables .table-holder .tabcontent .tab .nameVal .rightVal {
    float: right;
    display: inline-block;
    margin-top: 20px;
}

body .order-tables .table-holder .tabcontent .tab .nameVal .rightVal p {
    font-family: Helvetica-Light;
    font-size: 10px;
    color: #302E2E;
    display: block;
    margin: 0;
}

body .order-tables .table-holder .tabcontent .tab .innerContent {
    padding: 0 15px;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .val {
    margin-top: 25px;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .val p {
    font-family: Helvetica;
    font-size: 14px;
    color: #504D4D;
    margin: 5px 0;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .val input {
    border: 1px solid #BBBBBB;
    border-radius: 3px;
    padding: 10px;
    width: 230px;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .val input:focus {
    outline: transparent;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .lastTrade p {
    font-family: Helvetica;
    font-size: 12px;
    color: #20D07F;
    margin: 5px 8px;
    display: inline-block;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .lastTrade span {
    font-family: Helvetica;
    font-size: 12px;
    color: #20D07F;
    float: right;
    margin: 5px 8px;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .fee {
    margin: 25px 0 10px;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .fee p {
    font-family: Helvetica;
    font-size: 12px;
    color: #504D4D;
    line-height: 16px;
    margin: 0;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .confirm {
    border-bottom: 5px solid #302E2E;
    padding-bottom: 20px;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .confirm input[type="checkbox"] {
    margin: 0;
    width: 16px;
    height: 16px;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .confirm p {
    font-family: Helvetica;
    font-size: 11px;
    color: #6F6F6F;
    display: inline-block;
    margin: 2px;
    vertical-align: top;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .total {
    margin-top: 15px;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .total p {
    font-family: Helvetica-Bold;
    font-size: 18px;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .total span {
    font-family: Helvetica-Light;
    font-size: 18px;
    text-align: right;
    display: inline-block;
    margin-left: 35px;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .total span span {
    font-family: Helvetica-Light;
    font-size: 10px;
    display: block;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .btn {
    text-align: center;
    margin-top: 30px;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .btn button {
    background: #4A90E2;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    padding: 12px 40px;
    border: none;
    cursor: pointer;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .btn button:focus {
    outline: none;
}

body .order-tables .table-holder .tabcontent .tab .innerContent .btn button img {
    vertical-align: middle;
    margin-left: 10px;
    height: 25px;
}

body .order-tables .table-holder .alert {
    border: 1px solid #D0021B;
    text-align: left;
    border-radius: 4px;
    margin-top: 25px;
}

body .order-tables .table-holder .alert p {
    font-family: Helvetica-Oblique;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #D0021B;
    width: 30px;
    padding: 24px 1px;
    margin: 0;
    display: inline-block;
    text-align: center;
}

body .order-tables .table-holder .alert .arrow-right {
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #D0021B;
    display: inline-block;
    margin-left: -5px;
}

body .order-tables .table-holder .alert span {
    font-size: 10px;
    color: #6F6F6F;
    line-height: 20px;
    display: inline-block;
    vertical-align: text-bottom;
}

body .graph {
  width: 66%;
  position: absolute;
  bottom: 74px;
  left: 78px;
  padding-bottom: 40px;
  text-align: left;
    /* Hide default HTML checkbox */
    /* The slider */
    /* Rounded sliders */
}

body .graph p {
    font-size: 14px;
    display: inline-block;
    font-family: Helvetica;
}

body .graph .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
    float: right;
    margin: 12px;
}

body .graph .switch input {
    display: none;
}

body .graph .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: -3px;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

body .graph .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 0px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

body .graph input:checked+.slider {
    background-color: #46b74b;
}

body .graph input:focus+.slider {
    box-shadow: 0 0 1px #46b74b;
}

body .graph input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

body .graph .slider.round {
    border-radius: 34px;
}

body .graph .slider.round:before {
    border-radius: 50%;
}

body .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
}

body .modal .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 40px;
    border: 1px solid #d3d3d3;
    width: 50%;
}

body .modal .modal-content1 {
    width: 30% !important;
}

body .modal .modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 10px;
    font-weight: bold;
}

body .modal .modal-content .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

body .modal .modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

body .modal .modal-content .innerContent p {
    font-family: Helvetica;
    font-size: 20px;
    color: #2C2950;
}

body .modal .modal-content .innerContent p span {
    font-family: Helvetica-Bold;
    color: #46b74b;
}

body .modal .modal-content .innerContent table {
    border: 1px solid #46b74b;
    border-bottom: 0;
    border-right: 0;
}

body .modal .modal-content .innerContent table tr th.col1 {
    width: 15% !important;
    border-bottom: 0;
    text-align: center;
    border-bottom: 1px solid #46b74b;
    border-right: 1px solid #46b74b;
}

body .modal .modal-content .innerContent table tr th.col2 {
    width: 20% !important;
    border-bottom: 0;
    text-align: center;
    border-bottom: 1px solid #46b74b;
    border-right: 1px solid #46b74b;
}

body .modal .modal-content .innerContent table tr th.col3 {
    width: 30% !important;
    border-bottom: 0;
    text-align: center;
    border-bottom: 1px solid #46b74b;
    border-right: 1px solid #46b74b;
}

body .modal .modal-content .innerContent table tr th.col4 {
    width: 35% !important;
    border-bottom: 0;
    text-align: center;
    border-bottom: 1px solid #46b74b;
    border-right: 1px solid #46b74b;
}

body .modal .modal-content .innerContent table tr th p {
    font-family: Helvetica;
    font-size: 14px;
    color: #2C2950;
    margin: 0;
}

body .modal .modal-content .innerContent table tr th p.pad {
    padding: 20px;
}

body .modal .modal-content .innerContent .wandxToken p {
    font-family: Helvetica-Light;
    font-size: 14px;
    color: #2C2950;
    text-align: left;
}

body .modal .modal-content .innerContent .wandxToken table {
    border: 1px solid #46b74b;
    border-bottom: 0;
}

body .modal .modal-content .innerContent .wandxToken table .right {
    float: right;
    margin-right: 20px;
}

body .modal .modal-content .innerContent .wandxToken table td {
    border-bottom: 1px solid #46b74b;
}

body .modal .modal-content .innerContent .wandxToken table td p {
    display: inline-block;
}

body .modal .modal-content .innerContent .wandxToken table td.select p {
    font-family: Helvetica;
    font-size: 14px;
    color: #2C2950;
    margin: 5px 15px;
}

body .modal .modal-content .innerContent .wandxToken table td.eth input[type="checkbox"] {
    margin: 0;
    width: 16px;
    height: 16px;
}

body .modal .modal-content .innerContent .wandxToken table td.eth p {
    font-family: Helvetica;
    font-size: 20px;
    color: #2C2950;
    font-weight: 700;
}

body .modal .modal-content .innerContent .executeBtn {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

body .modal .modal-content .innerContent .executeBtn button {
    background-color: #20d07f;
    border: none;
    padding: 16px 20px;
    color: #fff;
}

body .modal .modal-content .innerContent .executeBtn button:focus {
    outline: none;
}

#login header .head {
    background-color: #134351;
    padding: 10px 20px;
}

#login header .head .left {
    width: 15%;
    display: inline-block;
}

#login header .head .right {
    width: 83%;
    display: inline-block;
    vertical-align: top;
}

#login header .head .right ul {
    display: inline-block;
}

#login header .head .right ul li {
    display: inline-block;
}

#login header .head .right ul li a {
    text-decoration: none;
}

#login header .head .right ul li a p {
    color: #fff;
    font-size: 14px;
    margin: 16px 24px;
}

#login header .head .right ul li img {
    margin-right: 10px;
    width: 20px;
}

#login header .head .right ul.social-image {
    float: right;
    margin-top: 28px;
}

#login .container {
    text-align: center;
    background-color: #135f76;
    padding: 0 0 40px;
    height: 100%;
    position: relative;
}

#login .container .data {
    width: 700px;
    margin: 0 auto;
}

#login .container .data h2 {
    margin: 0px;
    font-size: 30px;
    color: #fff;
    padding: 70px 0 40px;
    font-weight: 100;
}

#login .container .data p {
    font-size: 16px;
    margin: 0;
    color: #fff;
    padding-bottom: 30px;
}

#login .container .data .buttons {
    padding: 40px 0 0px;
}

#login .container .data .buttons .facebook {
    width: 220px;
    display: inline-block;
    margin-right: 30px;
}

#login .container .data .buttons .facebook button {
    background-color: #4765b0;
    border: 0;
    border-radius: 3px;
}

#login .container .data .buttons .facebook button img {
    vertical-align: middle;
    border-right: 1px solid #3f599a;
    display: inline-block;
    padding: 5px 0;
}

#login .container .data .buttons .facebook button p {
    display: inline-block;
    padding: 5px 17px;
}

#login .container .data .buttons .google {
    width: 220px;
    display: inline-block;
}

#login .container .data .buttons .google button {
    background-color: #dd4b39;
    border: 0;
    border-radius: 3px;
}

#login .container .data .buttons .google button img {
    vertical-align: middle;
    border-right: 1px solid #b14436;
    display: inline-block;
    padding: 5px 0;
}

#login .container .data .buttons .google button p {
    display: inline-block;
    padding: 5px 17px;
}

#login .container .data .buttons .started {
    width: 220px;
    padding: 40px 0 10px;
    margin: 0 auto;
}

#login .container .data .buttons .started button {
    background-color: #fff;
    border: 0;
    padding: 10px 43px;
    border-radius: 4px;
    font-size: 16px;
}

#login .container .data .copyright {
    margin-top: 30px;
}

#login .container .data .copyright p {
    padding: 0;
    color: #bdbdbd;
}

#login canvas {
    display: block;
    vertical-align: bottom;
}

#login #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#login .count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#login .js-count-particles {
    font-size: 1.1em;
}

#login #stats,
#login .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#login #stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

#login .count-particles {
    border-radius: 0 0 3px 3px;
}


/*# sourceMappingURL=style.css.map */


/* footer */

.footer {
    background: #0d263f;
    bottom: 0;
    /*position: absolute;*/
    width: 100%;
}

.footer .footer-links {
    max-width: 1140px;
    margin: auto;
    padding: 10px 0;
    display: flex;
}

.footer .footer-links .footer-col {
    margin: 0 64px 0 0;
    color: #5f6a72;
}

.footer-links .footer-col .footer-title {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 8px;
}

.footer-links .footer-col p {
    margin: 6px 0;
    font-size: 14px;
}

.footer-col p a {
    color: #5f6a72;
    text-decoration: none;
    font-size: 14px;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    text-decoration: none;
    margin: 8px;
}

#myBtn1 {
    cursor: pointer;
}

.close1 button {
    padding: 12px 25px !important;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
}

.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #35325a;
    min-width: 100px;
    z-index: 1;
    border-radius: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
}

.dropdown-content a {
    color: #fff;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-family: helvetica-light;
}

.dropdown-content a:hover {
    cursor: pointer;
}

.show {
    display: block;
}


/* profilepage */

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.faq-body{
  position: relative;
}
.profile-container {
    max-width: 1320px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.profile {
    border: 1px solid #ccc;
    line-height: 100%;
    margin: 22px 0;
    padding: 30px 0 30px;
    position: relative;
}

.profile-details {
    width: 50%;
    padding: 0px 15px;
    display: table;
}

.profile-image {
    width: 25%;
    display: table-cell;
    vertical-align: middle;
}

.profile-image img {
    display: block;
    float: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    margin: 0 auto;
    vertical-align: middle;
}

.profile-info {
    width: 75%;
    display: table-cell;
    vertical-align: middle;
}

.account_username {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    padding: 10px 0;
}

.user_login-time {
    font-size: 12px;
    color: #999;
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
}

.user_login-time {
    font-size: 12px;
    color: #999;
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
}

.user_paying-price {
    font-size: 14px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    padding-top: 6px;
}

.user_pay-discount {
    color: #999;
}

.profile-login {
    width: 100%;
    display: table;
}

.login-holder {
    width: 50%;
    display: table-cell;
    vertical-align: top;
}

.user-login-holder {
    border: 1px solid #ccc;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.login_pwd-header {
    background: #f4f4f4 none repeat scroll 0 0;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    color: #454545;
    font-size: 14px;
}

.user-box_inside {
    float: left;
    padding: 20px 0;
    width: 100%;
    display: table;
}

.login-pwd {
    width: 75%;
    padding: 0 15px;
    display: table-cell;
    vertical-align: middle;
}

.security_con {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    margin-right: 7px;
}

.security_info {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}

.security_info h4 {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0px;
}

.security_info p {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0 0 10px;
    line-height: 1.42857143;
}

.imgicon {
    background: url(images/icons.png ) no-repeat scroll center center;
    display: inline-block;
    height: 38px;
    vertical-align: middle;
    width: 38px;
}

.login-change {
    width: 25%;
    padding: 0px 15px;
    display: table-cell;
    vertical-align: middle;
}

.btn_cs {
    background: #134351 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 15px;
    width: 90px;
    padding: 10px 13px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
}

.btn_cs a {
    text-decoration: none;
    color: #fff;
}

.btn_cs:hover {
    background: #2b97b4 none repeat scroll 0 0;
}

.img-api {
    background-position: 0 -193px !important;
}

.fix-right-padding {
    padding: 0 15px 0 0;
}

.fix-left-padding {
    padding: 0 0 0 15px;
}

.img-mobile {
    background-position: 0 -45px !important;
}

.middle-line {
    width: 95%;
    padding: 0 15px;
}

.space_height {
    background: #ccc none repeat scroll 0 0;
    display: inline-flex;
    height: 1px;
    margin: 18px 0 37px;
    text-align: center;
    width: 100%;
}

.img-google {
    background-position: 0 -144px !important;
}

.distribution_title {
    color: #454545;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

.table_distribution-history {
    width: 100%;
}

.table_distribution-history table {
    background-color: transparent;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}

.table_distribution-history table>tbody>tr {
    border: 1px solid #ccc;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

.table_distribution-history table>tbody>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
    background: #f4f4f4 none repeat scroll 0 0;
    border: medium none;
    color: #999;
    font-size: 14px;
    font-weight: 400;
}

.zups_td {
    color: #454545;
    line-height: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.zups_td p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 20px;
}

.lastlogin_title {
    color: #454545;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

.lastlogin_histroy {
    width: 100%;
}

.lastlogin_histroy table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
}

.lastlogin_histroy table>tbody>tr {
    border: 1px solid #ccc;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

.lastlogin_histroy table>tbody>tr>th {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    background: #f4f4f4 none repeat scroll 0 0;
    border: medium none;
    color: #999;
    text-align: center;
    font-size: 14px;
}

.lastlogin_histroy table>tbody>tr>td {
    color: #666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.amount {
    color: #666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
    line-height: 1.42857143;
}

.overview-holder table>tbody>tr>td>span {
    font-size: 14px;
    padding: 0;
}

.overview-holder table>tbody>tr>td {
    padding: 8px;
}

.deposit {
    color: #2b97b4;
    cursor: pointer;
    line-height: 21px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 40px;
    border: 1px solid #d3d3d3;
    width: 50%;
}

.modal .modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 10px;
    font-weight: bold;
}


.modal .modal-content .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal .modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form-label {
    display: block;
    color: #454545;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-label:before {
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f04134;
}

.form-label:after {
    content: ":";
    margin: 0 8px 0 2px;
    position: relative;
    top: -0.5px;
}

.form-input-holder {
    padding: 6px 7px;
    height: 32px;
    width: 50%;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.7);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
    margin-bottom: 10px;
}

.form-input-holder:hover {
    border-color: #4896f2;
}

.min-amt {
    color: #aaaaaa;
    font-size: 14px;
}

.fee {
    color: #454545;
    font-size: 14px;
}

.fee span {
    color: #aaa;
    font-size: 14px;
}

.confirm-btn {
    background-color: #4A90E2;
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 15px;
    width: 90px;
    padding: 10px 13px;
    text-align: center;
    outline: none;
    border: none;
}

.confirm-btn:hover {
    background-color: #4A90E2;
}

/*FAQ Page CSS Start*/

.faq-tabs{
  padding-top: 12px;
}
.quest-holder {
    padding: 15px 15px 0px 15px;
}
.faq-quest {
    width: 75%;
    padding: 15px 0px 0px 45px;
}
.question {
    font-size: 18px;
    color: #87a8ce;
    padding-bottom: 10px;
    font-family: Helvetica-Bold;
}
.question:hover{
  color:#4A90E2;
  cursor: pointer;
}
.answer {
    font-size: 14px;
    color: #302E2E;
    padding-bottom: 10px;
    line-height: 20px;
    display: none;
}
i {
  border: solid #4a90e2;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 50px;
  margin-bottom: 2px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*FAQ Page CSS End*/

/*Create token page css*/

.create-token-holder{
  padding: 20px 20px 60px 20px;
}
.token-panel-holder{
    margin-bottom: 20px;
    border:1px solid #ddd;
    color: #333333;
    padding: 20px;
}
.basic-ip{
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    color: #333333;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 700;
}
.token-panel-holder .form-label{
  display: inline-block;
  width: 16%;
  font-size: 13px;
  font-weight: 400;
  margin-bottom:0px;
}
.token-panel-holder .form-input-holder{
   width: 82%;
   padding: 0px 7px;
   border: 1px solid #ddd;
   font-size: 12px;
   margin-bottom: 0px;
}
.token-panel-holder .form-input-holder:hover{
  border: 1px solid #ddd;
}
.token-panel-holder .form-input-holder:focus{
  border: 1px solid #ddd;
  outline: none;
}
.token-panel-holder .form-label:before{
  content: "";
}
.basic-ip-holder {
    margin-bottom: 20px;
}
.radio-inline{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8px;
  position: relative;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  color: #454545;
}
.bottom-line{
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}
i.right-arrow{
    transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
    margin-left: 7px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    margin-bottom: 0px;
}
.basic-ip-holder .confirm-btn{
   width: 102px;
   text-decoration: none;
}
.align-btn{
  text-align: right;
}
.time-holder .time-label{
  text-align: right;
}
.time-holder .form-input-holder{
  width: 28%;
}

.bonus-holder .form-input-holder{
  width: 23%;
  margin-right: 23px;
}
.bonus-holder .form-input-holder:nth-child(4)
 {
    margin-right: 0px;
}
.calendar-holder .form-input-holder{
  border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
}
.calendar-holder .form-input-holder:focus{
    border-right: none;
}
.calendar-holder .form-input-holder:hover{
    border-right: none;
}
.calendar-holder img{
  margin-left: -4px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ddd;
  padding: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
span.calendar-holder:nth-child(2) {
    margin-right: 17px;
}
.add-bonus{
  margin-top: 20px;
  margin-bottom: 0px;
}
.add-bonus .form-label {
    margin-right: 6px;
}
.close-holder{
    display: inline-block;
    margin-left: 23px;
    font-size: 20px;
    vertical-align: middle;
    color: #fff;
    padding: 2px 8px;
    background-color: red;
    border-radius: 50%;
}
.close-holder:after{
  content: 'x'
}
.cmn_err {
    margin: 7px 0 0 0;
    font-size: 11px;
    color: red;
    left: 16.6%;
    position: relative;
}
.bonus-err{
    display: inline-block;
    width: 26.6%;
}

  /*Token Details Page CSS Start*/

.serach-holder {
    float: right;
    width: 33.33333333%;
}
.search-bar {
    display: table;
  margin-bottom: 16px;
  width: 100%;
}
.search-bar input{
  display: table-cell;
    width: 100%;
    height: 23px;
    padding: 6px 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #454545;
    background-color: #fff;
    background-image: none;
    box-shadow: inset 0 1px 0 rgba(0,0,0,.075);
    border-radius: 25px;
    padding-left: 20px;
    border: 1px solid rgba(221,226,232,.49);
    font-family: Helvetica ;
}
.search-bar span {
    display: table-cell;
    color: #BDBDBD;
    padding: 0;
}
.search-bar span button{
    border-radius: 0 25px 25px 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: #454545;
    z-index: 2;
    margin: 0px;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: none;
    border-left: 1px solid #dde2e87d;
    background-color: transparent;
}
.serach-holder input:focus{
   outline:none;
}
.search-bar span button:hover{
   background-color: #4A90E2;
   color: #fff;
}
.search-bar span button:focus{
  outline: none;
}
.EOS-holder .btm-line{
  margin: 20px 0px;
  border-bottom: 2px solid #ddd;
}
.EOS-holder{
  width: 100%;
  clear: both;
}
.EOS-holder .eos-table-holder{
    width: 56%;
    margin-top: 30px;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
}
.EOS-holder .eos-address-holder{
     width: 38%;
      display: inline-block;
      padding: 0px 15px;
      vertical-align: top;
}
.USD-holder{
      width: 20%;
      margin: 0 auto 12px;
  }

.USD-holder .title{
  font-size: 18px;
  margin: 10px 0 0 0;
  color: #4CAF50;
  font-family: Helvetica-Bold;
}
.USD-holder .sub-title{
  font-size: 16px;
  font-family: Helvetica;
  color: #73879C;
  margin: 10px 0 0 0;
}
.USD-holder .sub-title span{
  color: red;
  margin-bottom: 10px;
}
.USD-holder span{
  font-size: 12px;
  color:gray;
  font-family: Helvetica;
}
.eos-sub-div{
    border-top: 1px solid #ddd;
}
.rank-holder{
  width: 32.79%;
  display: inline-block;
  border-right: 1px solid #ddd;
  text-align: center;
  color: #454545;
  font-family: Helvetica;
  padding: 12px 0;
}
.rank-holder:last-child{
   border-right: none;
}
.rank-holder p{
  font-size: 12px;
  padding-bottom: 12px;
  margin: 0;
}
.rank-holder span{
  font-size: 14px;
  margin: 10px 0;
}
.eos-sub-div{
  border-bottom: 1px solid #ddd;
}
.powered-by{
  font-size: 12px;
  padding: 5px 0px;
  text-align: center;
}
.powered-by a{
  text-decoration: none;
  color: #428bca;
  font-style: italic;
  font-family: Helvetica;
}
.eos-title{
  border-bottom: 2px solid #ddd;
}
.eos-title h2{
    margin: 5px 0 10px;
    display: block;
    font-size: 18px;
    font-weight: 400;
    font-family: Helvetica-Bold;
    color: #4CAF50;
}
.address-table{
  display: table;
  width: 100%;
  padding: 10px;
  margin-top: 60px;
}
.address-table .left-data{
  width: 40%;
  display: table-cell;
  vertical-align: top;
}
.address-table .left-data p{
  font-size: 13px;
  padding-bottom: 5px;
  margin: 0;
  font-family: Helvetica;
  color: #454545;
  font-weight: 400;
}
.address-table .right-data{
  width: 60%;
  display: table-cell;
  vertical-align: top;
}
.address-table .right-data p{
  font-size: 13px;
  padding-bottom: 5px;
  margin: 0;
  font-family: Helvetica;
  color: #454545;
  font-weight: 400;
}
.social-holder{
  width: 100%;
  display: table;
  padding-top: 26px;
}
.social-holder .social-icon-holder{
  width: 33.33%;
  display: table-cell;
  padding: 0px 8px;
}
.reddit-holder{
  padding: 10px 17px;
  border: 1px solid #ddd;
  opacity: 1;
  transition: all .2s ease;
}
.reddit-holder .title{
  border-bottom: 2px solid #ddd;
  padding: 1px 5px 6px;
}
.reddit-holder .title h2{
   font-size: 18px;
   font-weight: 400;
   font-family: Helvetica-Bold;
   margin: 0;
   color: #4CAF50;
}
.social-holder .social-icon-holder:first-child{
    padding-left: 0px;
}
.social-holder .social-icon-holder:last-child{
    padding-right: 0px;
}
.box-height{
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
}

  /*Token Details Page CSS End*/

/*Create-option Page CSS Start*/
.create-option-holder{
  padding: 0px 20px 0px 0px;
}
.option-panel-holder{
  display: table;
  width: 100%;
}
.option-holder{
  display: table-cell;
  width: 20%;
  vertical-align: top;
  box-shadow: 11px 1px 5px -4px lightgrey;
}
.option-form-holder{
  display: table-cell;
  width: 80%;
  vertical-align: top;
  border-left: 1px solid #ccc;
  height: 430px;
}
.option-holder button {
    background: none;
    border: none;
    display: block;
    padding: 15px 15px 15px 0;
}
.option-holder button a{
  text-decoration: none;
    color: #333333;
}
.option-tab {
    /*border: 1px solid #ccc;*/
    /*background-color: #f1f1f1;*/
}
.option-tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px 22px 20px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 400;
    font-family: Helvetica;
}
.option-tab button:hover {
  color:#4a90e2;
  /*box-shadow: 5px 5px 5px 5px lightgrey;
  font-size: 18px;*/
}
.option-tab button.active {
  font-family: Helvetica-Bold;
  /*border-bottom: 2px solid #4a90e2;*/
  color: #4a90e2;
  background-color: #e6e4e4;
  box-shadow: 5px 5px 5px 5px lightgrey;
  font-size: 20px;
}
.option-tabcontent {
    padding: 32px;
    width: 70%;
}
.option-tablinks{
  display: none;
}
.option-tablinks .active{
  display: block;
}
.option-tabcontent .form-label{
    display: inline-block;
    width: 30%;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0px;
}
.option-tabcontent .cmn_err{
  left: 30.6%;
}
.option-tabcontent .time-holder .form-input-holder{
  width: 44%;
}
.option-tabcontent .time-holder img{
  vertical-align: top;
  padding: 10px;
}
.option-tabcontent .help {
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    padding: 0px 5px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.option-tabcontent p{
    display: inline-block;
  font-size: 14px;
  font-family: Helevetica;
}
.option-tabcontent .needHelp{
  cursor: pointer;
}
.option-modal{
   display: none; /* Hidden by default */
   position: fixed;
   z-index: 1;
   right: 27px;
   top: 36%;
   width: 52%;
   height: 100%;
   overflow: auto;
   background-color: transparent;
}
.option-modal .modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 13px;
   border: 1px solid #d3d3d3;
   width: 40%;
   float: right;
   z-index: 0;
   position: relative;
}
.option-modal .modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
}
.option-modal .modal-content .close:hover,
.option-modal .modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.option-modal .modal-content p{
  margin-top: 23px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 22px;
  font-weight: normal;
  font-family: Helvetica;
  color: #454545;
}
.create-first-holder{
    box-shadow: 5px 5px 5px 5px lightgrey;
    padding: 20px;
}
.create-second-holder {
  display: none;
  box-shadow: 5px 5px 5px 5px lightgrey;
    padding: 20px;
}
.create-third-holder{
  display:none;
  box-shadow: 5px 5px 5px 5px lightgrey;
    padding: 20px;
}
.address-details .form-label:before{
  content: none;
}
.create-third-holder h3{
  font-size: 20px;
  font-family: Helvetica-Bold;
  color: #454545;
}
.address-details p{
  margin: 0;
  color: #454545;
}
.modal-content .right-arrow{
    width: 14px;
    height: 14px;
    background-color: #fff;
    z-index: 6;
    position: absolute;
    top: 104px;
    transform: rotate(-45deg);
    left: -3%;
    border-top: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
}
.auto-sug option{
  color : #454545;
}
.anim{
  position:relative;
}
.anim:before {
    content: "";
    position: absolute;
    right: 50%;
    width: 0;
    height: 2px;
    background-color: #4a90e2;
    bottom: 0;
    transition: all .7s ease-in-out;
}
.anim:after {
    content: "";
    width: 0;
    position: absolute;
    left: 50%;
    background-color: #4a90e2;
    height: 2px;
    bottom: 0;
    transition: all .7s ease-in-out;
}
.anim:hover:before {
    right: 0;
    width: 51%;
}
.anim:hover:after {
    left: 0;
    width: 51%;
}
.align-btn  .confirm-btn{
  display: inline-block;
}
.option-tabcontent .align-btn{
  text-align: center;
}
.create-third-holder .align-btn{
  text-align: left;
}
.range-slider{
    display: block;
    margin: 0 auto;
    width: 263px;
    margin-top: 12px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #4A90E2;
  border-radius: 1.3px;
  border: 0.2px solid #0f0f0f;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
